<%- include("../partials/header") %>

<!-- Modal immagine -->
<div class="modal fade" id="cambia-img-modal" tabindex="-1" role="dialog" aria-labelledby="cambia-img-modal-label"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="cambia-img-modal-label">Cambia immagine</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center">
                <button id="url-post-img" class="btn btn-dark mr-3"><i class="fas fa-external-link-alt"></i> Link esterno</button>
                <button id="upload-post-img" class="btn btn-dark ml-3"><i class="fas fa-file-upload"></i> Carica</button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-dismiss="modal">Chiudi</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal carica immagine -->
<div class="modal fade" id="carica-img-modal" tabindex="-1" role="dialog" aria-labelledby="carica-img-modal-label"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="carica-img-modal-label">Carica immagine</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="imgForm" action="/imgupload" method="post" enctype="multipart/form-data">
                    <input type="file" accept="image/*" aria-describedby="max-size-label" id="img-attachment" name="img-attachment" style="border: 1px solid #DEE2E6; box-shadow: 0 0 5px #DEE2E6;"><br>
                    <div style="display: inline-block;">
                        <button type="submit" id="upload-img" class="btn btn-dark"><i class="fas fa-upload"></i> Carica</button>
                        <small id="max-size-label">Premi per allegare un'immagine, dimensione massima: 10MB</small>
                    </div>
                    <p class="text-center" style="font-weight: 700;" id="status-img"></p>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" id="close-modal" data-dismiss="modal">Chiudi</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal eliminazione corso -->
<div class="modal fade" id="delete-modal" tabindex="-1" role="dialog" aria-labelledby="delete-modal-label"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="delete-modal-label">Elimina corso</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Sei sicuro di voler eliminare questo corso?</p>
            </div>
            <div class="modal-footer">
                <form id="delete-form" action="/courses/<%= corso._id %>?_method=DELETE" method="POST">
                    <button type="button" class="btn btn-light" data-dismiss="modal">Annulla</button>
                    <button type="submit" class="btn btn-danger">Conferma</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Body -->
<div class="container">
    <h1 class="text-center mt-3 mb-4">Modifica <%= corso.titolo %></h1>
    <form id="new-post-form" action="/courses/<%= corso._id %>?_method=PUT" method="post">
        <div class="row">
            <div class="col-12 col-lg-4">
                <div class="form-group">
                    <div class="row" style="align-content: center; justify-content: center; align-items: center;">
                        <div class="col-6 col-lg-12">
                            <img src="<%= (corso.immagine.tipo == "local") ? "/uploads/" + corso.immagine.indirizzo : corso.immagine.indirizzo %>"
                                alt="Immagine corso" class="new-post-img">
                            <input type='hidden' id='hiddenImgField' name='course[img]' value=''>
                        </div>
                        <div class="col-6 col-lg-12 mt-3">
                            <button type="button" class="btn btn-light" data-toggle="modal" data-target="#cambia-img-modal"><i class="fas fa-edit"></i> Cambia immagine</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-8">
                <div class="form-group">
                    <label for="titolo">Titolo</label>
                    <input type="text" class="form-control" aria-describedby="titoloHelp" name="course[titolo]" id="titolo" minlength="5"
                        maxlength="30" autocomplete="off" value="<%= corso.titolo %>">
                    <small id="titoloHelp" class="form-text text-muted text-center">Inserisci il titolo del corso, da 5 a 30 caratteri</small>
                </div>
                <div class="form-group">
                    <label for="descrizione">Descrizione</label>
                    <textarea class="form-control" aria-describedby="descrizioneHelp" name="course[descrizione]" maxlength="150"
                        autocomplete="off" id="descrizione" rows="3"><%= corso.descrizione %></textarea>
                    <small id="descrizioneHelp" class="form-text text-muted text-center">Inserisci la descrizione del corso, fino a 150 caratteri</small>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="pubblico" name="course[pubblico]" value="yes" <%= (corso.pubblico) ? "checked" : "" %>>
                    <label class="form-check-label" for="pubblico">
                        Corso pubblico <i class="fas fa-info-circle" data-toggle="tooltip" data-html="true"
                        title="Se abilitato, chiunque potrà vedere il corso e i contenuti pubblici.
                        <br>Se disabilitato saranno visibili solo i contenuti pubblici (servirà quindi il link per accederci)."></i>
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="chat-globale" name="course[chatGlobale]" value="yes" <%= (corso.chatGlobale) ? "checked" : "" %>>
                    <label class="form-check-label" for="chat-globale">
                        Chat globale <i class="fas fa-info-circle" data-toggle="tooltip" data-html="true"
                        title="Attiva una chat comune in cui tutti i partecipanti possono scrivere."></i>
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="chat-privata" name="course[chatPrivata]" value="yes" <%= (corso.chatPrivata) ? "checked" : "" %>>
                    <label class="form-check-label" for="chat-privata">
                        Chat privata <i class="fas fa-info-circle" data-toggle="tooltip" data-html="true"
                        title="Attiva una chat privata ad ogni iscritto.<br>Permette ai partecipanti di scrivere tra loro in chat private."></i>
                    </label>
                </div>
                <div class="text-center">
                    <a class="btn btn-info" role="button" href="/courses/<%= corso._id %>?showCode=true">Opzioni codice</a>
                </div>
            </div>
        </div>
        <div class="post-submit mt-3 mb-3 d-flex">
            <div><a role="button" class="btn btn-light" href="/courses/<%= corso._id %>"><i class="fas fa-times"></i> Annulla</a></div>
            <div>
                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#delete-modal">
                    <i class="far fa-trash-alt"></i> Elimina corso
                </button>
            </div>
            <div><button type="submit" class="btn btn-dark"><i class="fas fa-edit"></i> Modifica corso</button></div>
        </div>
        <p id="corso-json" style="display:none"><%= corsoJSON %></p>
    </form>
</div>

<script src="/js/editCourse.js"></script>

<%- include("../partials/footer") %>