<%- include ('../partials/header') %>

<div class="container">

    <div class="alert alert-danger error-div m-3 text-center" role="alert">
        <h3><i class="fas fa-exclamation-triangle"></i> Errore <i class="fas fa-exclamation-triangle"></i></h3>
        <p id="error-text">Impossibile caricare JavaScript correttamente. Verifica che sia abilitato.</p>
    </div>
    <div class="row">

        <div class="col-12 col-lg-4">
            <div id="chat">
                <div id="chat-window">
                    <div class="alert chat-alert alert-danger" role="alert">
                        Scrivi lo username e il messaggio!
                    </div>
                    <div id="output">
                        <div id="inner-output" class="text-center">
                            <p id="loading" class="text-center pt-3">Caricamento dei messaggi</p>
                            <div id="loading-msg-spinner" class="spinner-border text-primary" role="status">
                                <span class="sr-only">Caricamento...</span>
                            </div>
                        </div>
                    </div>
                    <div id="feedback"></div>
                </div>
                <div id="chat-buttons" style="display: none;">
                    <% if(utente){ %>
                        <input id="username" type="text" placeholder="Username" maxlength="16" value="<%= utente.username %>" required>
                    <% } else { %>
                        <input id="username" type="text" placeholder="Username" maxlength="16" required>
                    <% } %>
                    <textarea id="message" type="text" placeholder="Messaggio" maxlength="300" required></textarea>
                    <button id="img"><i class="fas fa-image"></i> Immagine...</button>
                    <button id="send"><i class="fas fa-paper-plane"></i> Invia</button>
                </div>
            </div>
        </div>

        <div class="col-12 col-lg-8">
            <div class="row">
            <div class="col-10 mt-3 text-center">
                <a class="btn btn-outline-info" href="/posts/new"><i class="fas fa-align-left"></i> Nuovo post</a>
                <a class="btn btn-outline-info" href="/posts/new"><i class="fas fa-poll"></i> Nuovo sondaggio</a>
            </div>
            <% posts.forEach(function(post){ %>
            <div class="col-12 col-sm-5 post card bg-light m-3">
                <% if(post.immagine.tipo == "local"){ %>
                    <img class="post-img my-1 ml-1 mr-3" src="/img/post/<%= post.immagine.indirizzo %>" alt="Immagine del post">
                <% } else if(post.immagine.tipo == "url") { %>
                    <img class="post-img my-1 ml-1 mr-3" src="<%= post.immagine.indirizzo %>" alt="Immagine del post">
                <% } %>
                <div class="card-body">
                    <h5 class="card-title"><%= post.titolo %></h5>
                    <p class="post-text card-text">
                        <%= post.contenuto %>
                    </p>
                    <p class="post-author card-text">
                        <% if(post.autore){ %>
                            <% if(post.autore.immagine.tipo == "local"){ %>
                                <img style="max-width: 2rem; border-radius: 0.5rem;" src="/img/post/<%= post.autore.immagine.indirizzo %>">
                            <% } else if(post.autore.immagine.tipo == "url") { %>
                                <img style="max-width: 2rem; border-radius: 0.5rem;" src="<%= post.autore.immagine.indirizzo %>">
                            <% } %>
                            <span class="username-post-span"><%= post.autore.username %></span>
                        <% } else { %>
                            <span class="user-not-found-post-span"><i class="fas fa-user-slash"></i> Utente non trovato</span>
                        <% } %>
                    </p>
                    <div class="card-btns">
                        <p class="card-text">
                            <small class="text-muted">
                                <%= ("0" + post.dataCreazione.getHours()).slice(-2) %>:<%= (post.dataCreazione.getMinutes()<10?'0':'') + post.dataCreazione.getMinutes() %>
                                <%= ("0" + post.dataCreazione.getDate()).slice(-2) %>/<%= ("0" + (post.dataCreazione.getMonth() + 1)).slice(-2) %>/<%= post.dataCreazione.getFullYear() %>
                            </small>
                        </p>
                        <div style="display: inline;">
                            <% if(post.allegati.length > 0){ %>
                                <small class="text-muted">Include <%= post.allegati.length %> allegati</small>
                            <% } %>
                            <a style="float: right;" class="btn btn-outline-info mb-2" href="/posts/<%= post._id %>">Visita</a>
                        </div>
                    </div>
                </div>
            </div>
            <% }) %>
            </div>
        </div>
    </div>

</div>

<script src="/js/chat.js"></script>

<%- include ('../partials/footer') %>