<%- include ('../partials/header') %>

<div class="container">
    <h1>Lista corsi</h1>
    <nav>
        <a href="/courses/new" class="btn btn-dark mb-4" role="button"><i class="fas fa-plus"></i> Crea nuovo corso</a>
    </nav>
    <% utente.corsi.forEach(function(corso){ %>
        <div class="row row-cols-1 row-cols-md-2">
            <div class="col mb-4">
                <div class="card">
                    <% if(corso.immagine.tipo == "local"){ %>
                        <img class="card-img-top" src="/uploads/<%= post.immagine.indirizzo %>" alt="Immagine del corso">
                    <% } else if(corso.immagine.tipo == "url") { %>
                        <img class="card-img-top" src="<%= post.immagine.indirizzo %>" alt="Immagine del corso">
                    <% } %>
                    <div class="card-body">
                        <h5 class="card-title"><%= corso.titolo %></h5>
                        <p class="card-text"><%= corso.descrizione %></p>
                    </div>
                </div>
            </div>
        </div>
    <% }) %>
    <% if(utente.corsi.length <= 0){ %>
        <p>Non sei iscritto a nessun corso</p>
    <% } %>
</div>

<%- include ('../partials/footer') %>