<%- include("../partials/header") %>

<link href="//cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">

<!-- Modal eliminazione post -->
<div class="modal fade" id="delete-modal" tabindex="-1" role="dialog" aria-labelledby="delete-modal-label"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="delete-modal-label">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Sei sicuro di voler eliminare questo post?</p>
            </div>
            <div class="modal-footer">
                <form id="delete-form" action="/posts/<%= corso._id %>/<%= post._id %>?_method=DELETE" method="POST">
                    <button type="button" class="btn btn-light" data-dismiss="modal">Annulla</button>
                    <button type="submit" class="btn btn-dark">Conferma</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <h1 class="text-center mt-3 mb-4 post-title"><%= post.titolo %></h1>
    <div class="row">
        <div class="col-12 col-lg-4" style="border-right: 1px solid #ccc;">
            <div class="form-group">
                <div class="row" style="align-content: center; justify-content: center; align-items: center;">
                    <div class="col-6 col-lg-12">
                        <% if(post.autore){ %>
                            <h2 class="text-muted">Scritto da 
                                <img style="max-width: 3rem; border-radius: 0.5rem;"
                                    src="<%= (post.autore.immagine.tipo == "local") ? "/uploads/" + post.autore.immagine.indirizzo : post.autore.immagine.indirizzo %>">
                            <%= post.autore.username %></h2>
                        <% } else { %>
                            <h2 class="text-muted"><i class="fas fa-user-slash"></i> Utente non trovato</h2>
                        <% } %>
                        <% if(post.immagine.tipo == "local"){ %>
                            <img src="/uploads/<%= post.immagine.indirizzo %>" alt="Immagine post" class="new-post-img">
                        <% } else if(post.immagine.tipo == "url") { %>
                            <img src="<%= post.immagine.indirizzo %>" alt="Immagine post" class="new-post-img">
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-8">

            <div style="display: inline;">
                <small style="float: left; margin-right: 5px;" id="dimensione-font-label">Dimensione font</small>
                <input style="max-width: 100px;" aria-describedby="dimensione-font-label" type="range" min="1" max="10" value="2" class="slider pl-1 pr-1 mb-1" id="font-slider">
            </div>
            <!-- Contenuto -->
            <div id="contenuto-quill" style="border: none;"></div>
            <div id="contenuto"><%- post.contenuto %></div>

            <!-- Data -->
            <small class="text-muted">
                <%= ("0" + post.dataCreazione.getHours()).slice(-2) %>:<%= (post.dataCreazione.getMinutes()<10?'0':'') + post.dataCreazione.getMinutes() %>
                <%= ("0" + post.dataCreazione.getDate()).slice(-2) %>/<%= ("0" + (post.dataCreazione.getMonth() + 1)).slice(-2) %>/<%= post.dataCreazione.getFullYear() %>
            </small>

            <% if(utente && post.autore && post.autore.id == utente._id){ %>
                <hr>
                <p>Opzioni autore</p>
                <div style="display: inline-flex;">
                    <a class="btn btn-dark mr-3" href="/posts/<%= post._id %>/edit" role="button"><i class="fas fa-edit"></i> Modifica</a>
                    <button type="button" class="btn btn-light" data-toggle="modal" data-target="#delete-modal">
                        <i class="far fa-trash-alt"></i> Elimina
                    </button>
                </div>
            <% } %>

            <!-- Allegati -->
            <% if(post.allegati.length > 0){ %>
            <hr>
            <h2>Allegati</h2>
            <div id="attachments-div">
                <% function formatBytes(a,b){if(0==a)return"0 Bytes";var c=1024,d=b||2,e=["Bytes","KB","MB","GB","TB","PB","EB","ZB","YB"],f=Math.floor(Math.log(a)/Math.log(c));return parseFloat((a/Math.pow(c,f)).toFixed(d))+" "+e[f]} %>
                <% post.allegati.forEach(function(allegato){ %>
                    <div class="card m-2">
                        <div class="card-body">
                            <form class="downloadForm" action="/filedownload/<%= allegato.indirizzo %>/<%= allegato.nome %>" method="GET">
                                <h5 class="card-title file-title"><%= allegato.nome %></h5>
                                <h6 class="card-subtitle mb-2 text-muted">Dimensione: <%= formatBytes(allegato.dimensione) %></h6>
                                <h6 class="card-subtitle mb-2 text-muted">Estensione: <%= allegato.estensione %></h6>
                                <button type="submit" class="btn btn-light"><i class="fas fa-file-download"></i> Scarica</button>
                            </form>
                        </div>
                    </div>
                <% }) %>
            </div>
            <% } %>

        </div>
    </div>
</div>

<script src="//cdn.quilljs.com/1.3.6/quill.min.js"></script>
<script src="/js/viewPost.js"></script>

<%- include("../partials/footer") %>